#custom-playerctl.perc0-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 0.0%,
    #24273a 0.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc1-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 1.0%,
    #24273a 1.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc2-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 2.0%,
    #24273a 2.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc3-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 3.0%,
    #24273a 3.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc4-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 4.0%,
    #24273a 4.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc5-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 5.0%,
    #24273a 5.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc6-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 6.0%,
    #24273a 6.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc7-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 7.0%,
    #24273a 7.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc8-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 8.0%,
    #24273a 8.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc9-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 9.0%,
    #24273a 9.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc10-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 10.0%,
    #24273a 10.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc11-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 11.0%,
    #24273a 11.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc12-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 12.0%,
    #24273a 12.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc13-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 13.0%,
    #24273a 13.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc14-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 14.0%,
    #24273a 14.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc15-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 15.0%,
    #24273a 15.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc16-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 16.0%,
    #24273a 16.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc17-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 17.0%,
    #24273a 17.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc18-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 18.0%,
    #24273a 18.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc19-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 19.0%,
    #24273a 19.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc20-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 20.0%,
    #24273a 20.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc21-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 21.0%,
    #24273a 21.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc22-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 22.0%,
    #24273a 22.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc23-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 23.0%,
    #24273a 23.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc24-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 24.0%,
    #24273a 24.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc25-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 25.0%,
    #24273a 25.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc26-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 26.0%,
    #24273a 26.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc27-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 27.0%,
    #24273a 27.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc28-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 28.0%,
    #24273a 28.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc29-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 29.0%,
    #24273a 29.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc30-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 30.0%,
    #24273a 30.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc31-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 31.0%,
    #24273a 31.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc32-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 32.0%,
    #24273a 32.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc33-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 33.0%,
    #24273a 33.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc34-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 34.0%,
    #24273a 34.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc35-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 35.0%,
    #24273a 35.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc36-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 36.0%,
    #24273a 36.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc37-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 37.0%,
    #24273a 37.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc38-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 38.0%,
    #24273a 38.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc39-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 39.0%,
    #24273a 39.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc40-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 40.0%,
    #24273a 40.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc41-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 41.0%,
    #24273a 41.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc42-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 42.0%,
    #24273a 42.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc43-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 43.0%,
    #24273a 43.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc44-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 44.0%,
    #24273a 44.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc45-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 45.0%,
    #24273a 45.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc46-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 46.0%,
    #24273a 46.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc47-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 47.0%,
    #24273a 47.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc48-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 48.0%,
    #24273a 48.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc49-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 49.0%,
    #24273a 49.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc50-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 50.0%,
    #24273a 50.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc51-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 51.0%,
    #24273a 51.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc52-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 52.0%,
    #24273a 52.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc53-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 53.0%,
    #24273a 53.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc54-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 54.0%,
    #24273a 54.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc55-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 55.0%,
    #24273a 55.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc56-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 56.0%,
    #24273a 56.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc57-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 57.0%,
    #24273a 57.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc58-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 58.0%,
    #24273a 58.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc59-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 59.0%,
    #24273a 59.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc60-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 60.0%,
    #24273a 60.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc61-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 61.0%,
    #24273a 61.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc62-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 62.0%,
    #24273a 62.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc63-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 63.0%,
    #24273a 63.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc64-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 64.0%,
    #24273a 64.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc65-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 65.0%,
    #24273a 65.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc66-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 66.0%,
    #24273a 66.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc67-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 67.0%,
    #24273a 67.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc68-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 68.0%,
    #24273a 68.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc69-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 69.0%,
    #24273a 69.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc70-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 70.0%,
    #24273a 70.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc71-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 71.0%,
    #24273a 71.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc72-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 72.0%,
    #24273a 72.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc73-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 73.0%,
    #24273a 73.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc74-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 74.0%,
    #24273a 74.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc75-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 75.0%,
    #24273a 75.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc76-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 76.0%,
    #24273a 76.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc77-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 77.0%,
    #24273a 77.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc78-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 78.0%,
    #24273a 78.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc79-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 79.0%,
    #24273a 79.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc80-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 80.0%,
    #24273a 80.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc81-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 81.0%,
    #24273a 81.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc82-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 82.0%,
    #24273a 82.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc83-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 83.0%,
    #24273a 83.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc84-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 84.0%,
    #24273a 84.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc85-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 85.0%,
    #24273a 85.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc86-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 86.0%,
    #24273a 86.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc87-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 87.0%,
    #24273a 87.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc88-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 88.0%,
    #24273a 88.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc89-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 89.0%,
    #24273a 89.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc90-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 90.0%,
    #24273a 90.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc91-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 91.0%,
    #24273a 91.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc92-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 92.0%,
    #24273a 92.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc93-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 93.0%,
    #24273a 93.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc94-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 94.0%,
    #24273a 94.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc95-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 95.0%,
    #24273a 95.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc96-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 96.0%,
    #24273a 96.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc97-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 97.0%,
    #24273a 97.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc98-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 98.0%,
    #24273a 98.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc99-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 99.0%,
    #24273a 99.1%
    );
    box-shadow: inset 0 37px #24273a;
}
#custom-playerctl.perc100-0 {
    background-image: linear-gradient(
    to right,
    #a6da95 100.0%,
    #24273a 100.1%
    );
    box-shadow: inset 0 37px #24273a;
}
